.input-result-content p {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 16px;
    color: #737373;
}

#link {
    color: #0029FF
}

.input-result-content a {
    text-decoration: none;
}

.input-result-content {
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    height: 40px;
    width: 872px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
