.result-content-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1251px;
    height: 334px;
    background-color: #F5F5F5;
    border-radius: 8px;
}

.image-container img {
    width: 247px;
    height: 247px;
}

#info {
    color: #1890FF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 19px;
}

.result-info-container {
    width: 902px;
    height: 247px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-left: 29px;
    padding: 8px 16px 12px 15px;
}

.input-result-content p {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 16px;
    color: #737373;
}

.input-result-content {
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    height: 40px;
    width: 872px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}