.content-contaier {
    display: flex;
    justify-content: center;
    margin-top: 54px;
}

.search-container {
    width: 1251px;
    height: 270px;
    background-color: #E6F7FF;
    border-radius: 16px;
    padding: 54px 718px 54px 31px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-container input {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin-bottom: 24px;
    padding-left: 17px;
    width: 303px;
}

.search-container h2 {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 12px;
}

#search-text::placeholder {
    color: #BFBFBF;
}   
